* text=auto

*.md text eol=lf
*.json text eol=lf
*.svg text eol=lf
*.mjs text eol=lf

*.ai binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ttf binary
*.woff2 binary
*.fig binary
*.key binary
*.pptx binary
*.docx binary
*.xlsx binary
*.zip binary
